# Data Science Tools and Ecosystem

_In this notebook, Data Science Tools and Ecosystem are summarized._

**Objectives:**  
- List popular languages for Data Science.
- List popular tools for Data science
- List popular libraries in python for data science

Some of the popular languages that Data Scientists use are
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NUMPY
2. PANDA
3. SEABORN

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
X=200
Y=X/60
print(f'total hours:{Y}')

total hours:3.3333333333333335

## Author
KS